body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.logoPkm {
  display: flex;
  background-image: url("../public/tools/pokemonLogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 110px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
  height: 80px;
}
.search input {
  width: 300px;
  padding: 10px;
  border: 2px solid #BBB;
  border-radius: 3px;
}
.containerCard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat( auto-fill, minmax( 250px, 300px ));
  gap: 20px;
  margin: auto;
  max-width: 1440px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.imgBox {
  display: flex;
  width: 100%;
  height: 100%;
}